a {
    &.button{
        margin-left: 0 !important;
        height: 1rem;
        width: 4rem;
        padding: .5rem 1rem;
        background-color: #F7E400;
        border-radius: 4px;
        font-family: 'openSans-ExtraBold';
        font-size: 14px;
    }
}