.project-card {
    margin: 2rem 4rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 250px;
    max-height: 250px;

    .poster {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 4px;
        max-height: 250px;
        min-width: 400px;

    }
    
    .text {
        max-height: 250px;
        text-align: left;
        margin-left: 1rem;
        padding-bottom: .5rem;

        p {
            font-size: 16px;
            margin: 2rem 0;
            width: 85%;
            margin-block-start: 1rem;
            margin-block-end: 1rem;
        }
    }
}