.productions {
    .title {
        height: 14rem;
        background-color: #000000;
    
        h1 {
            color: #ffffff;
            padding: 8rem;
            margin-top: 0;
        }
    }

    .project-cards {
        margin-bottom: 5rem;
    }
}