h1 {
    text-transform: uppercase;
    font-family: 'openSans-ExtraBold';
    font-size: 42px;
    margin-block-start: 0.2em;
}

@font-face {
    font-family: 'openSans-ExtraBold';
    src: url('../../../assets/OpenSans-ExtraBold.ttf');
}