.header {
    position: absolute;
    width: 85%;
    height: 50px;
    background-color: #F2F2F2;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    top: 2rem;
    opacity: 2;
    display: flex;
    border-radius: 4px;
    z-index: 999;

    #logo {
        margin: auto;
        margin-left: 1rem;
        img {
            height: 40px;
        }
    }

    #pages {
        margin: auto;
        margin-right: 1rem;
    }
}