h1 {
    text-transform: uppercase;
    font-family: 'openSans-ExtraBold';
    font-size: 42px;
}

@font-face {
    font-family: 'openSans-ExtraBold';
    src: url('../../assets/OpenSans-ExtraBold.ttf');
}